.modal-header {
  justify-content: flex-end;
  border: none;
}

.modal-header button {
  border: none;
  background: none;
}

.title {
  width: 104px;
  height: 44px;
  color: var(--unnamed-color-000000);
  text-align: center;
  font: normal normal bold 36px/44px Montserrat;
  letter-spacing: -0.72px;
}

.content {
  width: 736px;
  height: 491px;
  text-align: justify;
  font: normal normal normal 12px Montserrat;
  letter-spacing: -0.4px;
}

.credit {
  text-align: center;
  font: normal normal normal 12px Montserrat;
  letter-spacing: -0.4px;
}

.modal-90w {
  max-width: 90% !important;
}
